.chinzel-name {
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-size: large;
	font-style: normal;
}
.inter-recipe {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}
